<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%- include('../_layout/Resources.ejs') -%>
    <link rel='stylesheet' href='/css/Global.css'>
</head>

<body>
<%- include('../_layout/Navigation.ejs') -%>
<div class="container mt-4" id="main-container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/settings">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Settings</li>
        </ol>
    </nav>

    <a href="/admin/settings/tower_clusters">Tower Clusters</a>



</div> <!-- /main-container -->
</body>

</html>