<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <a class="navbar-brand" href="#">Promotion Hub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"><span class="fas fa-tachometer-alt"></span> Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="fa fa-cubes"></span> Applications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="pficon-cluster"></span> Clusters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="pficon-container-node"></span> Hosts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="pficon-volume"></span> Storage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="fas fa-cogs"></span> Admin</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Replace Username Here!</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action with a lot of text inside of an item</a>
        </div>
      </li>
    </ul>
  </div>
</nav>


<!-- nav -->
  <div class="collapse navbar-collapse navbar-collapse-1">
    <ul class="nav navbar-nav navbar-utility">
      <li>
        <a href="#">Status</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="pficon pficon-user"></span>
          Put UserName Here! <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#">Settings</a>
          </li>
          <li>
            <a href="#">Another link</a>
          </li>
          <li>
            <a href="#">Something else here</a>
          </li>
          <li class="divider"></li>
          <li class="dropdown-submenu">
            <a tabindex="-1" href="#">More options</a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Link</a>
              </li>
              <li>
                <a href="#">Another link</a>
              </li>
              <li>
                <a href="#">Something else here</a>
              </li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li>
                <a href="#">Separated link</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">One more separated link</a>
              </li>
            </ul>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/auth/logout">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-primary persistent-secondary">
      <li>
        <a href="/hosts"><span class="pficon-container-node"></span> Hosts</a>
      </li>
      <li>
        <a href="/storage"><span class="pficon-volume"></span> Storage</a>
      </li>
      <li>
        <a href="/admin"><span class="pficon-settings"></span> Admin</a>
      </li>
    </ul>
  </div>